{% extends '../components/layout.njk' %}

{%block headerRightBar %}
    <form class= "filter"action="/search" method="GET">
        <span class="material-icons">search</span>
        <input 
            type="text"
            name="filter"
            placeholder="Busque artistas, músicas ou podcasts"
            value=""
        >
    </form>
{%endblock%}

{%block content%}
    {% if not playlistsSearch[0] %}
        <div class="bodySearchInitial">
            <h1>Seus gêneros favoritos</h1>
            <div class="yourGenres">
                <section>
                    <div class="gradient">
                        <h2>Dance / Electronic</h2>
                    </div>
                </section>
                <section>
                    <div class="gradient">
                        <h2>Pop</h2>
                    </div>
                </section>
            </div>

            <h1>Navegar por todas as seções</h1>
            <div class="sections">
                <section>
                    <div class="gradient">
                        <h2>Podcasts</h2>
                    </div>
                </section>

                <section >
                    <div class="gradient">
                        <h2>Podcasts</h2>
                    </div>
                </section>

                <section>
                    <div class="gradient">
                        <h2>Podcasts</h2>
                    </div>
                </section>

                <section >
                    <div class="gradient">
                        <h2>Podcasts</h2>
                    </div>
                </section>

                <section >
                    <div class="gradient">
                        <h2>Podcasts</h2>
                    </div>
                </section>
                
                <section>
                    <div class="gradient">
                        <h2>Podcasts</h2>
                    </div>
                </section>

                <section>
                    <div class="gradient">
                        <h2>Podcasts</h2>
                    </div>
                </section>


                <section>
                    <div class="gradient">
                        <h2>Podcasts</h2>
                    </div>
                </section>
                
                <section>
                    <div class="gradient">
                        <h2>Podcasts</h2>
                    </div>
                </section>


                <section>
                    <div class="gradient">
                        <h2>Podcasts</h2>
                    </div>
                </section>
                
            </div>
        </div>
    {% else %}
        <div class="bodySearch">
            <section>
                <a href="/playlist/{{playlistsSearch[0].id}}">
                    <h1 class= "titleCard">Melhor resultado</h1>
                    <div class="backgroundResults">

                        <div class="contentCardImg">
                            {% if not playlistsSearch[0].filesrc %}
                                <div class="icon"><i class="fa fa-music"></i></div>
                            {% else %}
                                <img src="{{playlistsSearch[0].filesrc}}" alt="Imagem da Playlist">  
                            {%endif%}
                        </div>

                        <h2>{{playlistsSearch[0].name}}</h2>

                        <p>De Spotify <span>PLAYLIST</span></p>
                        <div class="button">
                            <span class="material-icons buttonCard">play_arrow</span>
                        </div>
                    </div>
                </a>
            </section>
            <section>
                <div class="titleCards">
                    <span>Playlist</span>
                    <span>VER TUDO</span>
                </div>

                <div class="cards search">
                    {% for playlist in playlistsSearch %}
                        <div class="card search" id="{{playlist.id}}">
                                <div class="contentCardImg">
                                    {% if not playlist.filesrc %}
                                        <div class="icon"><i class="fa fa-music"></i></div>
                                    {% else %}
                                        <img src="{{playlist.filesrc}}" alt="Imagem da Playlist">  
                                    {%endif%}
                                    <span class="material-icons buttonCard">play_arrow</span>
                                </div>
                            <div class="gridCard">                            
                                <h1>{{playlist.name}}</h1>
                                {% if not playlist.description %}
                                    <p>de paulo beckman</p>
                                {% else %}
                                    <p>{{playlist.description}}</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor%}
                </div>
            </section>
        </div>

        <div class="titleCards">
            <span>Playlist</span>
            <span>VER TUDO</span>
        </div>

        <div class="cards allPLaylist">
            {% for playlist in playlistsSearch %}
                <div class="card" id="{{playlist.id}}">
                        <div class="contentCardImg">
                            {% if not playlist.filesrc %}
                                <div class="icon"><i class="fa fa-music"></i></div>
                            {% else %}
                                <img src="{{playlist.filesrc}}" alt="Imagem da Playlist">  
                            {%endif%}
                            <span class="material-icons buttonCard">play_arrow</span>
                        </div>
                    <h1>{{playlist.name}}</h1>
                    {% if not playlist.description %}
                        <p>de paulo beckman</p>
                    {% else %}
                        <p>{{playlist.description}}</p>
                    {% endif %}
                </div>
            {% endfor%}
        </div>
    {%endif%}
{%endblock%}
