<div class="modal-overlay-playlist">
    <div class="menuPlaylist">
        <ul>
            <li>Adicionar à fila</li>
            <li>Iniciar rádio da playlist</li>
            <li>Tornar pública</li>
            <li>Editar os detalhes</li>
            <li>Apagar</li>
            <li>Compartilhar</li>
            <li>Abrir no aplicativo para desktop</li>
        </ul>
    </div>
</div>