<div class="modal-overlay">
    <div class="modal">

        <a class="close-modal">
            <span class="material-icons">close</span>
        </a>

        <h1>Criar nova playlist</h1>

        <form action="/" method="POST">
            <div class="input">
                <div>Nome da playlist</div>
                <input
                    type="text"
                    name="name"
                    placeholder="Nova Playlist"
                >
            </div>
            
            <div class="buttons">
                <div class="cancelar">
                    <div class="buttonCancelar">CANCELAR</div>
                </div>
                <div class="save">
                    <button type="submit">CRIAR</button>
                </div>
            </div>
        </form>
    </div>
</div>