<div class="modalOverlayDetails modal">
    <div class="modalBody">
        <div class="headDetails">
            <h1>Editar Detalhes</h1>
            <span class="material-icons" id="closeModalDetails">close</span>
        </div>

        <form action="/playlist?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="bodyDetails">
                <div class="image">
                    <div class="iconMore">
                        <span class="material-icons">more_horiz</span>
                    </div>

                    <div id="photos-upload">
                        <input 
                            id="image-input"
                            type="file"
                            name="image"
                            accept="image/*"
                            onchange="PhotosUpload.handleFileInput(event)"
                        >

                        {% if not files.src %}
                            <div class="icon"><i class="fa fa-music"></i></div>
                        {% endif%}

                        <div class="editImage">
                            <span class="material-icons">edit</span>
                            <div>Escolher foto</div>
                        </div>
                    </div>

                    <div id="photos-preview">
                        <div class="photo" id="{{files.id}}">
                            <div>
                                <img src="{{files.src}}" alt="{{files.name}}">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="titleDescription">
                    <div class="title">
                        <div class="visible"><span>Título</span></div>
                        <input 
                            class="inputVisible"
                            type="text"
                            name="name"
                            placeholder="Adicionar título"
                            value="{{playlist.name}}"
                        >
                    </div>

                    <div class="description">
                        <div class="visible"><span>Descrição</span></div>

                        <textarea 
                            cols="30" 
                            rows="10"
                            class="inputVisible"
                            type="text"
                            name="description"
                            placeholder="Adicione uma descrição opcional"
                        >{{playlist.description}}</textarea>
                    </div>
                </div>
            </div>

            <div class="detailsButton">
                <button type="submit">Salvar</button>
            </div>
            
            <input 
                type="hidden" 
                name="id"
                value="{{playlist.id}}"
            >

        </form>
        <p>Ao continuar, você autoriza o Spotify a acessar a imagem enviada. Certifique-se de que você tem o direito de fazer o upload dessa imagem.</p>
    </div>
</div>