<div class="bottomBar">
    <section class= "inforAlbuns">
        <img src="https://newjams-images.scdn.co/v2/discover-weekly/QN8GMbB_Vu2tV2JD3M3IkOswgmzU5inqIB3Z_jQ-XmIH16KaQTmOTL5gWUPN-Z8bVUhCVGP58jox_q9ABz-sxQ_80p3TWTuo6jqhBXF2WEQ=/OTA6NTE6OTBUODItMDEtMA==/default" alt="">
        <section class="inforAlbum">
            <ul>
                <li class="nameMusic">Here Comes the Sun</li>
                <li class="nameArtist">Mauve</li>
            </ul>
        </section>
        <section class="icons">
            <span class="material-icons">favorite_border</span>
            <span class="material-icons">branding_watermark</span>
        </section>
    </section>

    <section class="controlMusic">
        <div class="controlers">  
            <i class="fa fa-random" aria-hidden="true"></i>
            <span class="material-icons">skip_previous</span>
            <span class="material-icons">play_circle_outline</span>
            <span class="material-icons">skip_next</span>
            <span class="material-icons">autorenew</span>
        </div>
        <div class="progressMusicBar">
            <div>00:00</div>
            <div class="tempMusicBar"></div> 
            <div>02:40</div>
        </div>
    </section>

    <section class="controllDevicesVolume">
        <span class="material-icons">playlist_play</span>
        <span class="material-icons">speaker</span>
        <span class="material-icons">volume_up</span>
        <div class="volumeBar"></div> 
    </section>
</div>