@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600;700&display=swap');

:root {
    --secondary-color: #242526;
    --text-secundary-color: #B3B3B3;
    --color-botton-play: #1DB954;
    --color-active-menu: #282828;
    --color-white: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: var(--text-secundary-color);
    cursor: pointer;
}

input {
    text-decoration: none;
    border: none;
    outline: none;
}

ul li {
    cursor: pointer;
}

body {
    background: black;
    font-family: 'Hind', sans-serif;
}

body .rightBar .marginBottom {
    margin-bottom: 120px;
}

body .pageGrid{
    display: grid;
    grid-template-columns: 200px 1fr;
}

body .bottomBar{
    width: 100%;
    height: 90px;
    background: var(--secondary-color);
    bottom: 0;
    position: fixed;

}

body .rightBar .navegation span  {
    background: black;
    color: white;
    padding: 6px;
    border-radius: 50%;
    margin-top: 14px;
}

body .rightBar header{
    display: flex;
    justify-content: space-between;
}

body .rightBar .navegation span:first-child {
    margin-left: 32px;
    margin-right: 14px;
}

body .rightBar .menuName  {
    background: var(--secondary-color);
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 6px;
    border-radius: 23px;
    display: flex;
    align-items: center;
    margin-top: 14px;
    margin-right: 26px;
}

.rightBar .menuName img {
    height: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 6px;
}

/* LEFT BAR */
body .leftBar {
    margin-left: 22px;
    overflow-x: scroll;
}

.leftBar .logoSpotify img{
    width: 130px;
    height: 40px;
    margin: 22px 0;
}

.leftBar .itemLeftBar ul li a{
    display: flex;
    align-items: center;
    margin-left: 13px;

}

.leftBar .itemLeftBar ul li a.active{
    color: var(--color-white);
    background: var(--color-active-menu);
    padding: 7px 12px;
    border-radius: 4px;
    margin-left: 0;
    width: 80%;
}

.leftBar .itemLeftBar ul li{
    color: var(--text-secundary-color);
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}

.leftBar .itemLeftBar ul li:last-child{
    margin-bottom: 0px;
}

.leftBar .itemLeftBar ul {
    list-style: none;
    margin-bottom: 33px;
}

.leftBar .playlist {
    color: var(--text-secundary-color);
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 22px;
    letter-spacing: 2px;
}

.itemLeftBar ul li span#box {
    color: black;
    background: var(--text-secundary-color);
    padding: 5px;
    font-size: 16px;
}

.itemLeftBar ul li span,
.itemLeftBar ul li i {
    margin-right: 10px;
}

.itemLeftBar ul li span.iconFake{
    margin-left: 3px;
    margin-right: 15px;
}

.itemLeftBar ul li i#box {
    color: white;
    background-image: linear-gradient(to bottom right, #6117FD,var(--color-white));
    padding: 6px;
    align-items: center;
    font-size: 14px;
}

.sectionMenuPlaylist {
    margin-bottom: 17px;
    border-bottom: 1px solid var(--text-secundary-color);
    margin-right: 12px;
    margin-left: 0;
}

.itemLeftBar.sectionMenuPlaylist ul{
    margin-bottom: 15px;
}

.itemLeftBar.sectionMenuPlaylist ul li a{
    margin-left: 0;
}

.itemLeftBar.sectionPlaylists ul li {
    margin-bottom: 10px;
}

.installApp {
    color: var(--text-secundary-color);
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
}

.installApp span {
    margin-right: 8px;
}


/* HOME MAIN*/
body .rightBar{
    width: 100%;
    height: 100%;
    background: #0D0D0E;
}
.main {
    margin-left: 36px;
}

.titleCards{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.titleCards span {
    color: var(--text-secundary-color);
    font-weight: 600;
}

.titleCards span:first-child {
    font-size: 24px;
}

.titleCards span:last-child {
    font-size: 12px;
    margin-right: 32px;
    display: flex;
    align-items: center;
}

.main .cards {
    display: grid;
    grid-template-columns: repeat(5, 158px);
    margin-top: 13px;
    grid-gap: 16px;
}

.main .cards .card{
    background: #181818;
    border-radius: 3px;
    color: var(--color-white);
    padding: 0 12px;
    transition: 0.4s;
}

.main .cards .card:hover{
    background: var(--secondary-color);
    border-radius: 3px;
    color: var(--color-white);
    padding: 0 12px;
    cursor: pointer;
    transition: 0.4s;
}

.card .contentCardImg {
    position: relative;
}

.card .contentCardImg span {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px 8px;
    padding: 5px;
    background: var(--color-botton-play);
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: 0.2s;
}

.main .cards .card:hover span {
    opacity: 1;
    transition: 0.2s;
    margin: 15px 8px;
}

.cards .card img { 
    width: 133px;
    padding-top: 13px;
}

.cards .card h1{
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 3px;
}

.cards .card p{
    font-weight: 400;
    font-size: 11px;
    padding-bottom: 11px;
}

/* BOTTOM BAR */
body .bottomBar .inforAlbuns,
body .bottomBar {
    display: flex;  
}

body .bottomBar{
    justify-content: space-between;
}

body .bottomBar .inforAlbuns img {
    height: 60px;
    padding: 15px 14px;
} 

.bottomBar .inforAlbum ul{
    list-style: none;
    padding: 23px 0;
}

.bottomBar .inforAlbum ul li.nameMusic {
    color: var(--color-white);
    font-weight: 400;
    font-size: 14px;
}

.bottomBar .inforAlbum ul li.nameArtist {
    color: var(--text-secundary-color);
    font-weight: 400;
    font-size: 12px;
}

.bottomBar .icons{
    color: var(--color-white);
    padding: 38.50px 17px;
    display: flex;
    align-items: center;
}

.bottomBar .icons span{
    font-size: 14px;
    color: var(--text-secundary-color)
}

.bottomBar .icons span + span{
    margin-left: 17px;
}

.controlMusic .controlers {
    color: var(--text-secundary-color);
    padding-top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controlMusic .controlers span {
    font-size: 25px;
}

.controlMusic .controlers span:last-child{
    font-size: 20px;
}

.controlMusic .controlers i {
    font-size: 15px;
    margin-top: 1px;
}

.controlMusic .controlers span + span, 
.controlMusic .controlers i + span  {
    margin-left: 15px;
}

.controlMusic .progressMusicBar  {
    display: flex;
    align-items: center;
    color: var(--text-secundary-color);
}

.controlMusic .progressMusicBar .tempMusicBar{
    width: 350px;
    height: 4px;
    background: var(--text-secundary-color);
    margin: 0 6px;
    border-radius: 20px;
}

.controlMusic .progressMusicBar div {
    font-weight: 400;
    font-size: 12px;
}

.bottomBar .controllDevicesVolume {
    color: var(--text-secundary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomBar .controllDevicesVolume span {
    font-size: 20px;
}

.bottomBar .controllDevicesVolume span:first-child {
    font-size: 25px;
}

.bottomBar .controllDevicesVolume span + span{
    margin-left: 10px;
}

.bottomBar .controllDevicesVolume .volumeBar{
    width: 90px;
    height: 4px;
    background: var(--text-secundary-color);
    margin: 0 6px;
    border-radius: 20px;
}

/* modal-overlay*/
.modal-overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active {
    visibility: visible;
    opacity: 1;
}

.modal-overlay{
    display:flex;
    justify-content: center;
    align-items: center;
}

.modal-overlay .close-modal{
    display: flex;
    align-items: center;
    height: 70px;
    width: 70px;
    margin: 0 auto;
}

.modal-overlay .close-modal span {
    font-size: 53px;
    color: var(--color-white);
    margin: 0 auto;
}

.modal-overlay .close-modal span:hover {
    font-size: 56px;
    
}

.modal-overlay h1 {
    font-size: 48px;
    color: var(--color-white);
    font-weight: 700;
    display: flex;
    justify-content: center;
     
}

.modal-overlay form .input {
    background: var(--color-active-menu);
    padding: 32px;
    width: 95vw;
}

form .input div {
    color: var(--color-white);
    font-size: 14px;
    font-weight: 700;
}

form input{
    width: 100%;
    height: 58px;
    background: var(--color-active-menu);
    margin-top: 26px;
    caret-color: var(--color-botton-play); 
    font-size: 48px;
    font-weight: 700;
    color: var(--color-white);
}

form input::placeholder{
    font-size: 48px;
    color: #5B5B5B;
    font-weight: 700;
    align-items: center;
}

.modal-overlay .buttons{
    margin-top: 28px;
    justify-content: center;
    display: grid;
    grid-template-columns: 140px 140px;  
    gap: 24px;
    align-items: center;
}

.modal-overlay .buttons .cancelar {
    display: flex;
    justify-content: center;
    height: 42px;
    
    align-items: center;
}

.modal-overlay .buttons .buttonCancelar{
    padding: 8px 34px;
    border-radius: 30px;    
    color: var(--color-white);
    font-size: 14px;
    font-weight: 700;
    border: 1px solid  #535353;
    transition: all .5s;
    cursor: pointer
} 

.modal-overlay .buttons .buttonCancelar:hover{
    transform: scale(1.1)
}

.modal-overlay .buttons .save {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 42px;

}

.modal-overlay .buttons button {
    background: var(--color-botton-play);
    padding: 12px 47px;
    border-radius: 30px;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: all .5s;
} 

.modal-overlay .buttons button:hover{
    transform: scale(1.1)
}


/* PLAYLIST */
.main .contentInfor{
    display: grid;
    grid-template-columns: 195px 1fr;
    grid-gap: 27px;
}

.contentInfor section img{
    width: 192px;
    height: 192px;
}

.main .contentInfor section:nth-child(2){
    color: var(--color-white);
    position: relative;
} 

.main .contentInfor section .infor{
    position: absolute;
    bottom: 0;
}


.contentInfor section .infor div {
    font-size: 12px;
    font-weight: bold;
}

.contentInfor section .infor h1 {
    font-size: 48px;
    font-weight: bold;
    height: 61px;
}

.contentInfor section .infor p {
    font-size: 14px;
    font-weight: 500;  
    margin-bottom: 8px;
    color: rgba(255, 255, 255, .8)
}

