@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600;700&display=swap');

:root {
    --secondary-color: #242526;
    --text-secundary-color: #B3B3B3;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background: black;
    font-family: 'Hind', sans-serif;
}

body .pageGrid{
    display: grid;
    grid-template-columns: 200px 1fr;
}

body .bottomBar{
    width: 100%;
    height: 90px;
    background: var(--secondary-color);
}

body .rightBar .navegation span  {
    background: black;
    color: white;
    padding: 6px;
    border-radius: 50%;
    margin-top: 14px;
}

body .rightBar header{
    display: flex;
    justify-content: space-between;
}

body .rightBar .navegation span:first-child {
    margin-left: 32px;
    margin-right: 14px;
}

body .rightBar .menuName  {
    background: var(--secondary-color);
    color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 6px;
    border-radius: 23px;
    display: flex;
    align-items: center;
    margin-top: 14px;
    margin-right: 26px;
}

.rightBar .menuName img {
    height: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 6px;
}

/* LEFT BAR */
body .leftBar {
    margin-left: 22px
}

.leftBar .logoSpotify img{
    width: 130px;
    height: 40px;
    margin: 22px 0;
}

.leftBar .itemLeftBar ul li {
    color: var(--text-secundary-color);
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
}

.leftBar .itemLeftBar ul li:last-child{
    margin-bottom: 0px;
}

.leftBar .itemLeftBar ul {
    list-style: none;
    margin-bottom: 33px;
}

.leftBar .playlist {
    color: var(--text-secundary-color);
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 22px;
    letter-spacing: 2px;
}

.itemLeftBar ul li span#box {
    color: black;
    background: var(--text-secundary-color);
    padding: 5px;
    font-size: 16px;
}

.itemLeftBar ul li span,
.itemLeftBar ul li i {
    margin-right: 10px;
}

.itemLeftBar ul li span.iconFake{
    margin-left: 3px;
    margin-right: 15px;
}

.itemLeftBar ul li i#box {
    color: white;
    background-image: linear-gradient(to bottom right, #6117FD, #FFFFFF);
    padding: 6px;
    align-items: center;
    font-size: 14px;
}

.sectionMenuPlaylist {
    margin-bottom: 17px;
    border-bottom: 1px solid var(--text-secundary-color);
    margin-right: 12px;

}

.itemLeftBar.sectionPlaylists ul{
    margin-bottom: 15px;
}

.itemLeftBar.sectionPlaylists ul li{
    margin-bottom: 5px;
}

.installApp {
    color: var(--text-secundary-color);
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.installApp span {
    margin-right: 8px;
}


/* HOME MAIN*/
body .rightBar{
    width: 100%;
    height: 100%;
    background: #0D0D0E;
}





