<!DOCTYPE html>
<html>
    <head>
        {% block head%}
         <title>Spotify</title>
        {% endblock  %}
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>
        <div class="pageGrid">
            <section class="leftBar">
            {% include './leftBar.njk'%}
            </section>
            
            <section class="rightBar">
                <header>
                    <span class="navegation">
                        <span class="material-icons">navigate_before</span>
                        <span class="material-icons">navigate_next</span>
                    </span>
                    <span class="menuName">
                        <img src="https://avatars0.githubusercontent.com/u/62726044?s=460&u=c2c75a1b6b34d0b6d0d60cac2b0af60f102bd859&v=4" alt=""> 
                        <span>Paulo Beckman</span>
                        <span class="material-icons">arrow_drop_down</span>
                    </span>
                </header>
                
                {%block content %}{%endblock%}

                <div class="marginBottom"></div>
            </section>
        </div>
        
        <div class="bottomBar">
            <section class= "inforAlbuns">
                <img src="https://newjams-images.scdn.co/v2/discover-weekly/QN8GMbB_Vu2tV2JD3M3IkOswgmzU5inqIB3Z_jQ-XmIH16KaQTmOTL5gWUPN-Z8bVUhCVGP58jox_q9ABz-sxQ_80p3TWTuo6jqhBXF2WEQ=/OTA6NTE6OTBUODItMDEtMA==/default" alt="">
                <section class="inforAlbum">
                    <ul>
                        <li class="nameMusic">Here Comes the Sun</li>
                        <li class="nameArtist">Mauve</li>
                    </ul>
                </section>
                <section class="icons">
                    <span class="material-icons">favorite_border</span>
                    <span class="material-icons">branding_watermark</span>
                </section>
            </section>

            <section class="controlMusic">
                <div class="controlers">  
                    <i class="fa fa-random" aria-hidden="true"></i>
                    <span class="material-icons">skip_previous</span>
                    <span class="material-icons">play_circle_outline</span>
                    <span class="material-icons">skip_next</span>
                    <span class="material-icons">autorenew</span>
                </div>
                <div class="progressMusicBar">
                    <div>00:00</div>
                    <div class="tempMusicBar"></div> 
                    <div>02:40</div>
                </div>
            </section>

            <section class="controllDevicesVolume">
                <span class="material-icons">playlist_play</span>
                <span class="material-icons">speaker</span>
                <span class="material-icons">volume_up</span>
                <div class="volumeBar"></div> 
            </section>
        </div>
    </body>
</html>
