<!DOCTYPE html>
<html>
    <head>
        {% block head%}
         <title>Spotify</title>
        {% endblock  %}
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    </head>
    <body>
        <section class="leftBar">
            {% include './leftBar.njk'%}
        </section>
        <section class="main">
            {%block main%}{%endblock%}
        </section>

        <div class="bottomBar">

        </div>
    </body>
</html>
