<div class="logoSpotify">
    <img src="https://logodownload.org/wp-content/uploads/2016/09/spotify-logo-branca-white.png" alt="spotify">
</div>

<div class="itemLeftBar">
    <ul>
        <li><span class="material-icons">home</span>Início</li>
        <li><span class="material-icons">search</span>Buscar</li>
        <li><span class="iconFake">|||\</span>Sua Biblioteca</li>
    </ul>
</div>

<div class="playlist">PLAYLISTS</div>

<div class="itemLeftBar">
    <ul>
        <li><span class="material-icons" id="box">add</span>Criar Playlist</li>
        <li><i class="fa fa-heart" id="box"></i>Musicas Curtidas</li>
    </ul>
</div>