{% extends 'layout.njk'%}

{% block content %}

    <div class="main">
        <div class="contentInfor">
            <section>
                <img src="https://newjams-images.scdn.co/v2/discover-weekly/QN8GMbB_Vu2tV2JD3M3IkOswgmzU5inqIB3Z_jQ-XmIH16KaQTmOTL5gWUPN-Z8bVUhCVGP58jox_q9ABz-sxQ_80p3TWTuo6jqhBXF2WEQ=/OTA6NTE6OTBUODItMDEtMA==/default" alt="">
            </section>
            
            <section>
                <div class="infor">
                    <div>PLAYLIST</div>
                    <h1>{{playlist.name}}</h1>
                    <p>Sua mixtape semanal cheia de novas descobertas</p>
                    <div>Spotify</div>
                </div>
            </section>
        </div>
    </div>

{% endblock%}